@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Quicksand:wght@300&display=swap');

header {
  background-color: brown;
  svg {
    color: aliceblue;
  }

.title {
  font-family: 'Goldman', cursive;
  font-size:30px;
  color: aliceblue;
  height: 50px;
}
}

.list-group-item{
    background-color: brown;
    border: none;
    a {
        color: white;
    }
}


.banner {
    h4 {
  font-family: 'Goldman', cursive;
  font-size:30px;
  color: aliceblue;
  
    }
}
h3 {
    font-family: 'Goldman', cursive;
    font-size:30px;
    color: brown;  
}
.more-info{
  font-family: 'Goldman', cursive;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}
footer {
    background-color: black;
    color: white;
    ul {
        text-transform: uppercase;
        font-family: 'Goldman', cursive;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        font-family: 'Goldman', cursive;
font-family: 'Quicksand', sans-serif;
    }
.social-link {
    font-family: 'Goldman', cursive;
font-family: 'Quicksand', sans-serif;
li {
    height: 15px; 
    width: 15px;
}
}
}
#overrule {
    border: none;
}
